
{% extends 'main/base.html' %}
{%  load static  %}


{% block content %}
{% include 'main/logo.html' %}

        <!-- Menu Start -->
        <div class="container-xxl py-5">
            <div class="container">
                {% for group in groups %}
                <div class="text-center wow fadeInUp" style="margin-top: 100px;" data-wow-delay="0.1s">
                    <h1 class="section-title ff-secondary text-center text-primary fw-normal mb-5">{{  group.name}}</h1>
                </div>

                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                    <div class="tab-content">
                        <div class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                {% for item in menu %}
                                {% if group.id == item.section.id %}
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="{{ item.photo.url }}" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>{{ item.name}}</span>
                                                <span class="text-primary">{{ item.price }} лв.</span>
                                            </h5>
                                            <small class="fst-italic">{{ item.description}}</small>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Menu End -->

{% endblock %}
